@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-Platinum: #E5E5E5;
  --color-White:  #FFFFFF;
  --color-SandyBrown: #F0BF5F;
  --color-YellowGold: #CC9933;
  --color-Drab: #A47312;
  --color-PlatinumLight:  #E9E9E9;
  --color-SignalGrey:  #999999;
  --color-DimGray:  #666666;
  --color-GreyUmber:  #333333;
  --color-Black:  #000000;
}

.body {
  margin: 0;
  font-family: 'Muller', sans-serif;
  background-color: var(--color-Platinum);
}

.header {
  background-color: var(--color-Platinum);
  margin: 0 auto;
  width: 1920px;
  position: relative;

}

.text-header {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-GreyUmber);
  padding-left: 40px;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.btn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn:focus {
  background: var(--color-YellowGold);
  color: var(--color-White);
}

.btn:hover {
  background: var(--color-YellowGold);
  color: var(--color-White);
}

.btn:active {
  background: var(--color-Drab);
  color: var(--color-White);
}

.container-header {
  display: flex;
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 28px;
  height: 100%;
  align-items: center;
  background-color: var(--color-Platinum);
}

.container-header-logo {
  align-items: center;
}

.container-logolink {
  text-decoration: none;
}

.container-header-phone {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-DimGray);
  padding-left: 31px;
  text-decoration: none;
}

.header-contacts-link {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-DimGray);
  text-decoration: none;
  padding: 10px;
}

.header-private-content {
  position: absolute;
  right: calc(0px - 10px);
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 54px;
  color: var(--color-YellowGold);
  fill: var(--color-YellowGold);
  text-decoration: none;
  border: none;
}

.header-private {
  color: var(--color-YellowGold);
  fill: var(--color-YellowGold);
  padding: 10px;
  text-decoration: none;
}

.header-contacts-link:hover {
  color: var(--color-YellowGold);
}

.header-contacts-link:focus {
  color: var(--color-YellowGold);
  outline: 1px solid var(--color-YellowGold);
}

.header-contacts-link:active {
  color: var(--color-Drab);
}

.heder-icon {
  margin-right: 4px;
  width: 21px;
  height: 12px;
}

.header-private:focus {
  fill: var(--color-YellowGold);
  color: var(--color-YellowGold);
  outline: 1px solid var(--color-YellowGold);
}

.header-private:active {
  fill: var(--color-Drab);
  color: var(--color-Drab);
}

.header-private:hover {
  fill: #E9C479;
  color: #E9C479;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  background-color: var(--color-Platinum);
  margin-top: 70px;
}

.container-main {
  margin-top: 25px;
}

.container-navigation {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--color-White);
  border-radius: 15px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.container-nav {
  padding: 27px 0 27px 0;
  height: 100%;
}
.nav-list {
  display: inline-flex;
  flex-wrap: wrap;
}
.nav-item {
  padding-left: 45px;

}
.nav-link {
  padding: 5px;
  color: var(--color-DimGray);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-YellowGold);
}

.nav-link:focus {
  color: var(--color-YellowGold);
  outline: 1px solid var(--color-YellowGold);
  padding: 5px;
}

.nav-link:active {
  color: var(--color-Drab);
}


.container-separator {
  border-left: 1px solid #E1E1E1;
  height: 50px;
  margin: 10px 25px 10px 24px;
}

.container-btn {
  display: flex;
  position: absolute;
  right: calc(0px + 44px);
}

.heder-tour-link {
  text-decoration: none;
  color: var(--color-YellowGold);
  border: 1px solid var(--color-YellowGold);
  padding: 10px 20px;
  border-radius: 10px;
}

.heder-cell-link {
  margin-left: 40px;
  text-decoration: none;
  color: var(--color-YellowGold);
  border: 1px solid var(--color-YellowGold);
  padding: 10px 20px;
  border-radius: 10px;
}

.heder-tour-link:hover, .heder-cell-link:hover{
  color:  var(--color-White);
  background: var(--color-YellowGold);
}

.heder-tour-link:active, .heder-cell-link:active {
  color:  var(--color-White);
  background: var(--color-Drab);
}

/* Спецпредложения */

.specials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 20px;
}

.specials-item {
  display: flex;
  flex-wrap: wrap;
  position: relative;


}

.specials-list_one {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
}

.specials-item-img {
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
}

.specials-item-imgbig {
  border-radius: 15px;
}
.specials-item-header {
  position: absolute;
  width: 70%;
  top: 40px;
  left: 40px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-White);
}
.specials-item-price {
  position: absolute;
  margin: 0;
  width: 70%;
  top: 135px;
  left: 40px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-White);
  opacity: 0.8;
}
.specials-item-link {
  position: absolute;
  width: 70%;
  top: 202px;
  left: 40px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #FFCC66;
  }

.specials-link-icon {
  display: inline-block;
  border: solid #FFCC66;
  border-width: 0 2px 2px 0;
  padding: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.specials-item-link:active {
  color: var(--color-White);
}

.specials-item-link:hover .specials-link-icon {
  margin-left: 11px;
}

.container-specials-big {
  position: relative;
  height: 540px;
}

.specials-item-headerbig {
  width: 299px;
  position: absolute;
  top: 211px;
  left: 40px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: var(--color-White);
}

.specials-item-pricebig {
  position: absolute;
  margin: 0;
  top: 406px;
  left: 40px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--color-White);
  opacity: 0.8;
}

.item-link-big {
  top: 483px;
  left: 40px;
}

/* О нас */

.about {
  margin-top: 69px;
}
.about-header {
  padding-left: 40px;
}
.about-content {
  width: 888px;
  margin: 11px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-Black);
}

/* Услуги */

.services {
  margin-top: 70px;
}

.services-content {
  margin-top: 20px;
  width: 100%;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.services-item {
  position: relative;
  background: var(--color-White);
  min-height: 330px;
  max-width: 573px;
  border-radius: 15px;
}

.ervices-item-img {
  border-radius: 15px 15px 0px 0px;
  width: 573px;
  height: 165px;
  background-color: var(--color-White);
}

.services-item-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--color-YellowGold);
  padding: 26px 0 0 45px;
}

.services-link-icon {
  border: solid var(--color-YellowGold);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.services-item-link:hover {
  color: var(--color-SandyBrown);
}

.services-item-link:hover .services-link-icon {
  margin-left: 11px;
  border-color: var(--color-SandyBrown);
}

.services-item-link:focus {
  color: var(--color-YellowGold);
}

.services-item-link:focus .services-link-icon {
  border-color: var(--color-YellowGold);
}

.services-item-link:active {
  color: var(--color-Drab);
}

.services-item-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-Black);
  margin: 0;
  padding: 0 126px 35px 45px;
}


/* Преимущества */


.advantages {
  margin-top: 70px;
}

.advantages-header {
  margin-bottom: 20px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.advantages-item {
  max-width: 23.59%;
  flex: 1 1 23.59%;
  background: var(--color-White);
  border-radius: 15px;
}

.advantages-item-img {
  margin: 40px 0 0 45px;
}

.advantages-item-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-Black);
  margin: 10px 42px 32px 45px;
}


/* Размещение */


.accomodation {
  margin-top: 70px;
}

.accomodation-header {
  margin-bottom: 20px;
}

.accomodation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.accomodation-item {
  position: relative;
  max-width: 374px;
  background: var(--color-White);
  border-radius: 15px;
}

.accomodation-item-price {
  display: block;
  margin: 32px 0 0 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color:var(--color-SignalGrey);
}

.accomodation-item-strong {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-Black);
}

.accomodation-item-decorate {
  margin-right: 45px;
  float: right;
}
.accomodation-item-heder {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-Black);
  margin: 16px 45px 0 45px;
}
.accomodation-item-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color:var(--color-SignalGrey);
  margin: 16px 45px 0 45px;
}
.accomodation-item-btn {
  margin: 20px 0 45px 45px;
}
.accomodation-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-YellowGold);
  padding: 13px 20px;
  border: 1px solid var(--color-YellowGold);
  border-radius: 10px;
  background: var(--color-White);
}

.accomodation-img-big {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.accomodation-item-link {
  display: block;
  position: absolute;
  bottom: 27px;
  left: 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--color-White);
}
.accomodation-link-icon {
  border: solid var(--color-White);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Форма */

.container-tour {
  background: var(--color-PlatinumLight);
  border-radius: 15px;
  padding: 45px 0;
}

.tour-header {
  margin-bottom: 20px;
}
.tour-form {
  margin: 0 45px;
  max-width: 1080px;
  height: 106px;
  background: var(--color-White);
  border-radius: 15px;
}
.form-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding-top: 31px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-Black);
  gap: 41px;
}
.form-item {
  display: flex;
  flex-direction: column;
  width: 169px;
  gap: 15px

}
.form_sity {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.form_сountry {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.form-item-data {
  width: 121px;
}

.input {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.form-item-nights {
  width: 121px;
}

.form_nights {
  border: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid var(--color-PlatinumLight);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.form-item-tourists {
  width: 121px;
}

.form_tourists {
  border: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid var(--color-PlatinumLight);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.form-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-YellowGold);
  padding: 13px 30px;
  border: 1px solid var(--color-YellowGold);
  border-radius: 10px;
  background: var(--color-White);
}


/* Контакты */

.contact-top {
  display: flex;
  flex-wrap: wrap;
  background: var(--color-White);
  border-radius: 15px;
  margin-top: 20px;
  padding: 45px;
  gap: 52px;

}
.contact-left-big {
  width: 375px;
}

.contact-left-center {
  display: flex;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--color-PlatinumLight);
}

.contact-left-center:not(:first-child) {
  padding-top: 25px;
}

.contact-left-small {
  width: 140px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-Black);
}

.contact-right-small-text {
  width: 225px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-Black);
  padding-left: 10px;
}

.contact-right-small {
  width: 234px;
  padding-left: 5px;
}


.contact-phone-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-YellowGold);
  padding-left: 5px;
}

.contact-email-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-YellowGold);
  padding-left: 5px;
}

.contact-email-link:hover {
  color: var(--color-YellowGold);
}

.contact-email-link:focus {
  color: var(--color-YellowGold);
  outline: 1px solid var(--color-YellowGold);
  padding: 5px;
}

.contact-email-link:active {
  color: var(--color-Drab);
}

.cotact-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color:var(--color-SignalGrey);
  padding-left: 5px;
}

.cotact-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-top: 45px;
  padding: 27px 29.5px;
  border: 1px solid var(--color-YellowGold);
  border-radius: 10px;
  background: var(--color-White);
  color: var(--color-YellowGold);
}

/* Footer */

.container-footer-top {
  margin-top: 40px;
}

.container-footer {
  display: flex;
  padding: 45px;
  background: var(--color-GreyUmber);
  border-radius: 15px;
}
.container-footer-left {
  width: 302px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--color-White);
  margin-right: 125px;
}
.container-footer-lefttext {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  padding-bottom: 37px;
}

.footer-agreement {
  display: block;
  padding-top: 3px;
}

.footer-agreement-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-YellowGold);
}

.container-footer-center {
  position: relative;
  width: 628px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-White);
}

.container-footer-centertext {
  margin: 0;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-White);
}

.footer-email-link {
  display: block;
  padding-top:  15px;
}

.foter-logo-img {
  position: absolute;
  bottom: -45px;
  right: 109px;
}

.container-footer-right {
}
.social-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-img {
  fill:var(--color-SignalGrey);
}

.social-img:hover {
  fill: var(--color-YellowGold);
}

.social-img:focus {
  fill: var(--color-YellowGold);
}

.social-img:active {
  fill: var(--color-Drab);
}

